CMakeCache.txt
MakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

*.*~
*.swp

/catkin/
CTestTestfile.cmake
/catkin_generated/
/devel/
/gtest/

/CMakeFiles/
/build/CMakeFiles/
/build/gtest/CMakeFiles/

ARDRONE_L-H
